<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <div class="row display">{{display}}</div>
        <div class="button-bar">
          <button class="button button-positive" ng-click="sine()">
            sin
          </button>
          <button class="button button-positive" ng-click="cosine()">
            cos
          </button>
          <button class="button button-positive" ng-click="tangent()">
            tan
          </button>
          <button class="button button-stabled" ng-click="squared()">
            x<sup>2</sup>
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-energized" ng-click="arcsine()">
            sin <sup>-1</sup>
          </button>
          <button class="button button-energized" ng-click="arccosine()">
            cos <sup>-1</sup>
          </button>
          <button class="button button-energized" ng-click="arctangent()">
            tan <sup>-1</sup>
          </button>
          <button class="button button-stabled" ng-click="squareRoot()">
            √
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-light" ng-click="numbers(1)">
            1
          </button>
          <button class="button button-light" ng-click="numbers(2)">
            2
          </button>
          <button class="button button-light" ng-click="numbers(3)">
            3
          </button>
          <button class="button button-stabled" ng-click="operation(4)">
            ÷
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-light" ng-click="numbers(4)">
            4
          </button>
          <button class="button button-light" ng-click="numbers(5)">
            5
          </button>
          <button class="button button-light" ng-click="numbers(6)">
            6
          </button>
          <button class="button button-stabled" ng-click="operation(3)">
            ×
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-light" ng-click="numbers(7)">
            7
          </button>
          <button class="button button-light" ng-click="numbers(8)">
            8
          </button>
          <button class="button button-light" ng-click="numbers(9)">
            9
          </button>
          <button class="button button-stabled" ng-click="operation(1)">
            +
          </button>
        </div>
        <div class="button-bar">
            <button class="button button-light" ng-click="numbers(0)">
              0
            </button>
            <button class="button button-light">

            </button>
            <button class="button button-light" ng-click="numbers('.')">
              .
            </button>
            <button class="button button-stabled" ng-click="operation(2)">
              -
            </button>
        </div>
        <div class="button-bar">
          <button class="button button-assertive" ng-click="clear()">
            clear
          </button>
          <button class="button button-balanced" ng-click="equals()">
            =
          </button>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
