<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/mainCtrl.js"></script>

  </head>
  <body ng-app="starter" ng-controller="MainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Calculator</h1>
      </ion-header-bar>
      <ion-content>
        <div class="row display"><h1>{{display}}</h1></div>
        <div class="button-bar">
          <button class="button button-positive" ng-click="sine()">
            sin
          </button>
          <button class="button button-positive" ng-click="cosine()">
            cos
          </button>
          <button class="button button-positive" ng-click="tangent()">
            tan
          </button>
          <button class="button button-stabled" ng-click="squared()">
            <h4>x<sup>2</sup></h4>
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-energized" ng-click="arcsine()">
            sin <sup>-1</sup>
          </button>
          <button class="button button-energized" ng-click="arccosine()">
            cos <sup>-1</sup>
          </button>
          <button class="button button-energized" ng-click="arctangent()">
            tan <sup>-1</sup>
          </button>
          <button class="button button-stabled" ng-click="squareRoot()">
            <h4>√</h4>
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-light" ng-click="numbers(1)">
            <h2>1</h2>
          </button>
          <button class="button button-light" ng-click="numbers(2)">
            <h2>2</h2>
          </button>
          <button class="button button-light" ng-click="numbers(3)">
            <h2>3</h2>
          </button>
          <button class="button button-stabled" ng-click="operation(4)">
            <h4>÷</h4>
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-light" ng-click="numbers(4)">
            <h2>4</h2>
          </button>
          <button class="button button-light" ng-click="numbers(5)">
            <h2>5</h2>
          </button>
          <button class="button button-light" ng-click="numbers(6)">
            <h2>6</h2>
          </button>
          <button class="button button-stabled" ng-click="operation(3)">
            <h4>×</h4>
          </button>
        </div>
        <div class="button-bar">
          <button class="button button-light" ng-click="numbers(7)">
            <h2>7</h2>
          </button>
          <button class="button button-light" ng-click="numbers(8)">
            <h2>8</h2>
          </button>
          <button class="button button-light" ng-click="numbers(9)">
            <h2>9</h2>
          </button>
          <button class="button button-stabled" ng-click="operation(1)">
            <h4>+</h4>
          </button>
        </div>
        <div class="button-bar">
            <button class="button button-light" ng-click="numbers(0)">
              <h2>0</h2>
            </button>
            <button class="button button-light">

            </button>
            <button class="button button-light" ng-click="numbers('.')">
              <h2>.</h2>
            </button>
            <button class="button button-stabled" ng-click="operation(2)">
              <h2>-</h2>
            </button>
        </div>
        <div class="button-bar">
          <button class="button button-assertive" ng-click="clear()">
            <h4>Clear</h4>
          </button>
          <button class="button button-balanced" ng-click="equals()">
            <h4>=</h4>
          </button>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
